.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
    font-weight: bold;
    font-size: medium;
}
.buy-now-button{
    background-color: #FF136F;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
    cursor: pointer;
    color: white;
}