.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
    font-weight: bold;
    font-size: medium;
}
.buy-now-button{
    background-color: #FF136F;
    border-radius: 8px;
    border: none;
    padding: 7px 9px;
    cursor: pointer;
    color: white;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: lightcoral;
}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px ;
    border: 10px;
}
.card-footer{
    border-top: none;
    background-color: white;
}
#Subscribe{
    height: 300px;
}
#Subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}